@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: repeating-linear-gradient(
    to bottom right,
    #ff5757,
    #fe8a8a,
    #feb273,
    #ffde59
  );
}

.card-header {
  border-radius: 1rem 1rem 0rem 0rem !important;
  padding: 20px !important;
}

.login-card {
  width: 23rem;
}

.bg-orange {
  background-color: #ff5757;
}

#lostPassword {
  margin: 0;
  font-size: x-small;
}

#header-img {
  width: 90%;
}

.card {
  border-radius: 1rem;
}

i {
  position: absolute;
  top: 16px;
}

.hidden {
  visibility: hidden;
}

/* Input */

* {
  box-sizing: border-box;
}

.form-group {
  position: relative;
  position: relative;
  position: relative;
  margin-bottom: 45px;
  margin-bottom: 45px;
  margin-bottom: 45px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 25px;
  -webkit-appearance: none;
  display: block;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

/* Label */

label {
  color: #999;
  color: #999;
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 25px;
  top: 10px;
  transition: all 0.2s ease;
}

/* active */

input:focus ~ label,
input.used ~ label {
  top: -20px;
  transform: scale(0.75);
  left: -2px;
  /* font-size: 14px; */
  color: #000000;
}

/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  height: 2px;
  height: 2px;
  width: 0;
  bottom: 1px;
  bottom: 1px;
  bottom: 1px;
  position: absolute;
  background: #000000;
  background: #000000;
  background: #000000;
  transition: all 0.2s ease;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active */

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* Highlight */

.highlight {
  position: absolute;
  height: 60%;
  height: 60%;
  height: 60%;
  width: 100px;
  width: 100px;
  width: 100px;
  top: 25%;
  top: 25%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active */

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* Animations */

@keyframes inputHighlighter {
  from {
    background: #000000;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 0.3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus {
  outline: 0;
}

/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples 0.4s ease-in;
}

/* Ripples animation */

@keyframes ripples {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
