.logo {
  width: 80%;
}

.logout {
  margin-top: 8px;
  background-color: var(--primary);
  border: none;
  text-align: left;
  color: var(--secondary);
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.accordion {
  margin-bottom: 8px;
  background-color: var(--primary);
  color: var(--light);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subitem {
  background-color: var(--primary);
  color: var(--light);
  width: 100%;
  border: none;
  padding: 8px;
  text-align: left;
  outline: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.active:hover,
.accordion:hover {
  background-color: var(--primary-light);
}

.accordion:after {
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.disapprove {
  height: 8px;
  width: 8px;
  background-color: var(--danger);
  border-radius: 50%;
  display: inline-block;
  margin-left: 8px;
}

.divider {
  height: 0px;
  width: 100%;
  margin-top: 16px;
  border: 1px solid var(--primary-light);
}

.title {
  font-family: "Open Sans";
  color: var(--dark);
  margin-top: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
