/* poppins */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v9-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../fonts/poppins/poppins-v9-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins/poppins-v9-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/poppins/poppins-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins/poppins-v9-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/poppins/poppins-v9-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-v9-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"),
    url("../fonts/poppins/poppins-v9-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins/poppins-v9-latin-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/poppins/poppins-v9-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/poppins/poppins-v9-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/poppins/poppins-v9-latin-900.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* Open sans */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans/open-sans-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans/open-sans-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans/open-sans-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/open-sans/open-sans-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans/open-sans-v17-latin-regular.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}

/* VARS */

:root {
  --primary: #ff5757;
  --primary-light: #ff7878;
  --secondary: #ffca57;
  --light: #f8f9fa;
  --dark: #2e2e2e;
  --font-body: "Open Sans";
  --font-title: "Poppins";
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark);
  background-color: var(--light);
}

button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
